<template>
    <div>
        <image-input @updated="getImages()"></image-input>
        <image-list :images="images"></image-list>
    </div>
</template>

<script>
    import req from "axios";
    export default {
        data() {
            return {
                images: [],
            };
        },
        mounted() {
            this.getImages();
        },
        methods: {
            getImages() {
                axios.get('/api/images')
                .then(res => {
                  if (res.data) {
                    this.images = res.data.map(v => v.url);
                  }
                })
                .catch(err => {
                  console.log('FAILURE!!');
                });
            }
        }
    }
</script>

<style>
</style>