<template>
    <ul>
      <li v-for="url in images">
        <img :src="url" width="100"> 
      </li>
    </ul>
</template>

<script>
    export default {
      props: ['images']
    }
</script>

<style scoped>
  ul {
    list-style-type: none;
  }
</style>