<template>
  <div>
      <input type="file" ref="file" @change="upload()">
  </div>
</template>

<script>
    import req from "axios";
    export default {
        methods: {
            upload() {
                let formData = new FormData();
                formData.append('file', this.$refs.file.files[0]);
                
                axios.post('/api/images',
                  formData,
                  {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                  }
                ).then(res => {
                  this.$emit('updated');
                })
                .catch(err => {
                  console.log('FAILURE!!');
                });
            }
        }
    }
</script>